.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.env
config/app_config.json

storage/*
!storage/.gitkeep
!storage/users/
!storage/users/.gitkeep

data/city_reports/*.json
data/objects/*/*.json
!data/city_reports/.gitkeep
!data/objects/Commerce/.gitkeep
!data/objects/Flat/.gitkeep
!data/objects/House/.gitkeep
!data/objects/Land/.gitkeep
!data/objects/Room/.gitkeep

bot_data.db
requests.log
